@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import "tailwindcss";


html,body {
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
     width: auto;
  align-self: flex-start; 
}

input:textarea {
  height: 600px;
}

.skill-container {
  width: 340px;
  height: 120px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.skill-card {
  width: 340px;
  height: 55px;
  background-color: #B5B9D5;
  font-weight: 800;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
}

.skill-container p {
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  color: #17273b;
  font-weight: 500;
;
}
  .javascript::after,
.html::after,
.bootstrap::after,
.react::after,
.api::after,
.wordpress::after,
.digital::after,
.figma::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to right, #23345D 70%, #4A6EC3 100%);
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  z-index: 1;
}

/* when active */
.javascript.active::after {
  width: 75%;
  opacity: 0.6;
  transform: translateX(0%);
}
.html.active::after {
  width: 100%;
  opacity: 0.6;
  transform: translateX(0%);
}
.bootstrap.active::after {
  width: 100%;
  opacity: 0.6;
  transform: translateX(0%);
}
.react.active::after {
  width: 65%;
  opacity: 0.6;
  transform: translateX(0%);
}
.api.active::after {
  width: 90%;
  opacity: 0.6;
  transform: translateX(0%);
}
.wordpress.active::after {
  width: 65%;
  opacity: 0.6;
  transform: translateX(0%);
}
.digital.active::after {
  width: 90%;
  opacity: 0.6;
  transform: translateX(0%);
}
.figma.active::after {
  width: 75%;
  opacity: 0.6;
  transform: translateX(0%);
}

.service-card {
  position: relative;
  background-color: #E6E9F7;
  overflow: hidden;
  transform: translateY(30px); 
  opacity: 0.7; 
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.service-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 110, 195, 0.15);
  transform: translateY(20%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
  z-index: 1;
}

.service-card.active {
  transform: translateY(0); 
  opacity: 1;            
}

.service-card.active::after {
  transform: translateY(0); /* reset overlay position */
  opacity: 1;               /* fade overlay in */
}


.service-card p {
  line-height: 1.3 ;
  font-weight: 500;
  line-height: 25px;

}
.hero {
  background-color: #E2E8F6;
  height: 585px;
  width: 100%;
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  box-sizing: border-box;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.info {
  display: flex;
  flex-direction: column;
  gap:12px;

}
.info img {
  vertical-align: bottom;
}
.info h2 {
  font-size: 24px;
  font-weight: 500;
}
.info h1 {
  font-size: 36px;
  font-weight: 700;
}
.info p {
  font-size: 14px;
  font-weight: 500;
  text-align: justify;
  line-height: 20px;
}
.hero-social {

display: flex;
flex-direction: column;
align-items: center;
gap: 63px;
}
.hero-social button {
  margin: auto;
}
.social-icons, .contact-icon {
  color: #2B5288
}
.skills-section {
  width: 100%;
  min-height: 400px;
  display: flex;             
  flex-direction: column;
  align-items: center;       
  justify-content: center;    
  gap: 10px;   
  padding:20px; 
   box-sizing: border-box;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);          
}

.titles {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;          
  color: #2A5286;
  text-align: center;         
}

.skill-cards,
.service-cards, .project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  margin: 0;
  max-width: 1100px;
}
.services-container {
  width: 100%;
  min-height: 800px;
  display: flex;             
  flex-direction: column;
  align-items: center;       
  justify-content: center;    
  gap: 20px; 
  background-color: #E6E1DB;
  padding: 20px;
   box-sizing: border-box;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.portfolio-container {
  width: 100%;
  display: flex;             
  flex-direction: column;
  align-items: center;       
  justify-content: center;    
  gap: 20px; 
  background-color: #E2E8F6;
 box-sizing: border-box;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.hire-container {
  width: 100%;
  min-height: 450px;
  display: flex;             
  flex-direction: column;
  align-items: center;       
  justify-content: center;    
  gap: 20px; 
  background-color: #E6E1DB;
  padding: 20px;
  box-sizing: border-box;
}
.hire-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
}
.portfolio-container section {
  display: flex;
  flex-direction: row;
  width: 1100px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  
}
.email-tel {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  width: 100%;

}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    padding-left: 60px;
    padding-right: 60px;
    height: auto;
  }

  .info h2 {
    font-size: 20px;
  }

  .info h1 {
    font-size: 28px;
  }

  .info p {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
  }

  .skill-cards,
  .service-cards,
  .project-cards {
    justify-content: center;
    gap: 25px;
  }

  .portfolio-container section {
    flex-direction: column;
    gap: 25px;
  }

  .hire-card {
    flex-direction: column;
    width: 100%;
    gap: 35px;
    justify-content: center;
    align-items: center
  ;
  }


  .email-tel {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}



@media (max-width: 540px) {

  .hero {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    height: auto;
  }
  .hero main {
    margin-top: 40px;
  }
  .info {
    align-items: center;
    gap:8px;
    height: 320px ;
  }
  
   .info h2 {
    font-size: 18px;
  }

  .info h1 {
    font-size: 24px;
  }

  .info p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .hero-social {
    margin-top: 20px;
    gap: 20px; 
  }


  .skill-cards,
  .service-cards,
  .project-cards {
    justify-content: center;  
    gap: 30px;
  }
  .titles {
    font-size: 22px;
    text-align: center;
  }
  .portfolio-container {
    padding-block: 30px;
  }
  .portfolio-container section {
    flex-direction: column;
    align-items: center;
    gap:20px;

  }
  .contacts{
    /* padding: 20px;
    box-sizing: border-box; */
    width: 85%;
  }
  .email-tel {
    /* padding: 20px; */
    box-sizing: border-box;
    width: 100%;
  }
 .hire-card {
    flex-direction: column;   
    width: 100%;              
    gap: 20px;
    justify-content: center;
    align-items: center;                
  }
  .hide {
    display: none;
  }
}



